<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - PhoneStore WebApp</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("HeadIncludes", required: false)

    
</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Action("Index", "Admin")">
                    <img src="~/Images/fancy.jpg" height="35" width="90"
                         title="RealXCape" />
                </a>
            </div>


            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @*@User.Identity.Name*@ <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            }
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/admin/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                   
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#catalogs"><i class="fa fa-fw fa-caret-down"></i> Catalogs </a>
                        <ul id="catalogs" class="collapse">
                            <li>
                                <a href="/phone"><i class="fa fa-fw fa-plus"></i> Products</a></li>
                            <li><a href="/manufacturer"><i class="fa fa-fw fa-plus"></i> Manufacturers </a></li>
                            <li><a href="/category"><i class="fa fa-fw fa-plus"></i> Categories </a></li>
                            <li><a href="/tag"><i class="fa fa-fw fa-plus"></i> Product Tags </a></li>
                            <li><a href="/picture"><i class="fa fa-fw fa-plus"></i> Gallery</a></li>
                            @*<li><a href="/admin/careers/uploadimage">UPLOAD IMAGE</a></li>*@
                        </ul>
                    </li>
                    
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#promotions"><i class="fa fa-fw fa-caret-down"></i> Promotions </a>
                        <ul id="promotions" class="collapse">
                            <li> </li>
                            <li>
                                <a href="/discount"><i class="fa fa-fw fa-table"></i> Discounts </a>
                            </li>
                    @*<li><a href="/admin/careers/uploadimage">UPLOAD IMAGE</a></li>*@
                        </ul>
                    </li>
                    
                    
                     @*<li>
                        <li>@Html.ActionLink("Phone List", "Index", "Phone")</li>
                        <li>@Html.ActionLink("Manufacturer List", "Index", "Manufacturer")</li>
                        <li>@Html.ActionLink("Category List", "Index", "Category")</li>
                        <li>@Html.ActionLink("Discount List", "Index", "Discount")</li>
                        <li>@Html.ActionLink("Picture List", "Index", "Picture")</li>
                        <li>@Html.ActionLink("Tag List", "Index", "Tag")</li>
                    </ul>*@
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    @RenderSection("scripts", required: false)

</body>

</html>
