@{
    ViewBag.Title = "Detail";
}

@model PhoneStore.Web.ViewModels.ProductDetailModel


@Styles.Render("~/Content/viewgallery")
@Scripts.Render("~/bundles/cloudzoom")
@Scripts.Render("~/bundles/fancybox")
@Scripts.Render("~/bundles/viewgallery")


<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h2 class="style">our fooseshoes</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start content -->
            <div class="single">
                <!-- start span1_of_1 -->
                <div class="left_content">
                    <div class="span1_of_1">
                        <!-- start product_slider -->
                        <div class="product-view">
                            <div class="product-essential">
                                <div class="product-img-box">
                                    <div class="more-views">
                                        <div class="more-views-container">
                                            <ul>

                                                @*@for (int i = 0; i < Model.Count; i++)
                                                {
                                                    <li>

                                                    </li>
                                                }*@
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a> 
                                                </li>
                                            </ul> 
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a class="cs-fancybox-thumbs cloud-zoom" rel="adjustX:30,adjustY:0,position:'right',tint:'#202020',tintOpacity:0.5,smoothMove:2,showTitle:true,titleOpacity:0.5" data-fancybox-group="thumb" href="images/0001-2.jpg" title="Women Shorts" alt="Women Shorts">
                                            <img src="images/0001-2.jpg" alt="Women Shorts" title="Women Shorts" />
                                        </a>
                                    </div>
                                    <script type="text/javascript">
						var prodGallery = jQblvg.parseJSON('{"prod_1":{"main":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"gallery":{"item_0":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"item_1":{"orig":"images/0001-1.jpg","main":"images/large/0001-1.jpg","thumb":"images/small/0001-1.jpg","label":""},"item_2":{"orig":"images/0001-5.jpg","main":"images/large/0001-5.jpg","thumb":"images/small/0001-5.jpg","label":""},"item_3":{"orig":"images/0001-3.jpg","main":"images/large/0001-3.jpg","thumb":"images/small/0001-3.jpg","label":""},"item_4":{"orig":"images/0001-4.jpg","main":"images/large/0001-4.jpg","thumb":"images/small/0001-4.jpg","label":""}},"type":"simple","video":false}}'),
						    gallery_elmnt = jQblvg('.product-img-box'),
						    galleryObj = new Object(),
						    gallery_conf = new Object();
						    gallery_conf.moreviewitem = '<a class="cs-fancybox-thumbs" data-fancybox-group="thumb"  href=""  title="" alt=""><img src="" src_main="" title="" alt="" /></a>';
						    gallery_conf.animspeed = 200;
						jQblvg(document).ready(function() {
						    galleryObj[1] = new prodViewGalleryForm(prodGallery, 'prod_1', gallery_elmnt, gallery_conf, '.product-image', '.more-views', 'http:');
						        jQblvg('.product-image .cs-fancybox-thumbs').absoluteClick();
						    jQblvg('.cs-fancybox-thumbs').fancybox({ prevEffect : 'none',
						                             nextEffect : 'none',
						                             closeBtn : true,
						                             arrows : true,
						                             nextClick : true,
						                             helpers: {
						                               thumbs : {
						                                   position: 'bottom'
						                               }
						                             }
						                             });
						    jQblvg('#wrap').css('z-index', '100');
						            jQblvg('.more-views-container').elScroll({type: 'vertical', elqty: 4, btn_pos: 'border', scroll_speed: 400 });

						});

						function initGallery(a,b,element) {
						    galleryObj[a] = new prodViewGalleryForm(prods, b, gallery_elmnt, gallery_conf, '.product-image', '.more-views', '');
						};
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- end product_slider -->
                    </div>
                    <!-- start span1_of_1 -->
                    <div class="span1_of_1_des">
                        <div class="desc1">
                            @*<h3>Lorem ipsum dolor sit amet laoret.</h3>*@
                            
                            <h3>@model.Name</h3>

                            @*<h5>@model.Sku <span>@model.Price</span>  <a href="#">click for offer</a></h5>*@
                            <div class="available">
                                <div class="btn_form">
                                    <form>
                                        <input type="submit" value="buy now" title="" />
                                    </form>
                                </div>
                                <span><a href="#">login to save in wishlist </a></span>
                                <p>It is a long established fact that a reader will be distracted by the readable contentContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from of a page when looking at its layout.</p>
                            </div>
                            <div class="share-desc">
                                <div class="share">
                                    <h4>Share Product :</h4>
                                    <ul class="share_nav">
                                        <li><a href="#"><img src="images/facebook.png" title="facebook"></a></li>
                                        <li><a href="#"><img src="images/twitter.png" title="Twiiter"></a></li>
                                        <li><a href="#"><img src="images/rss.png" title="Rss"></a></li>
                                        <li><a href="#"><img src="images/gpluse.png" title="Google+"></a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- start left content_bottom -->
                    <div class="left_content_btm">
                        <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <!-- start tabs -->
                        <section class="tabs">
                            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
                            <label for="tab-1" class="tab-label-1">overview</label>

                            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2">
                            <label for="tab-2" class="tab-label-2">consumer</label>

                            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3">
                            <label for="tab-3" class="tab-label-3">semiconductor</label>

                            <div class="clear-shadow"></div>

                            <div class="content">
                                <div class="content-1">
                                    <p class="para top"><span>LOREM IPSUM</span> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined </p>
                                    <ul>
                                        <li>Research</li>
                                        <li>Design and Development</li>
                                        <li>Porting and Optimization</li>
                                        <li>System integration</li>
                                        <li>Verification, Validation and Testing</li>
                                        <li>Maintenance and Support</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="content-2">
                                    <p class="para"><span>WELCOME </span> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections </p>
                                    <ul class="qua_nav">
                                        <li>Multimedia Systems</li>
                                        <li>Digital media adapters</li>
                                        <li>Set top boxes for HDTV and IPTV Player applications on various Operating Systems and Hardware Platforms</li>
                                    </ul>
                                </div>
                                <div class="content-3">
                                    <p class="para top"><span>LOREM IPSUM</span> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined </p>
                                    <ul>
                                        <li>Research</li>
                                        <li>Design and Development</li>
                                        <li>Porting and Optimization</li>
                                        <li>System integration</li>
                                        <li>Verification, Validation and Testing</li>
                                        <li>Maintenance and Support</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </section>
                        <!-- end tabs -->
                    </div> 
                    <!-- end left content_bottom -->
                </div>
                <!-- start left_sidebar -->
                <div class="left_sidebar">
                    <ul class="det_nav">
                        <li><a href="#">accessories</a></li>
                        <li><a href="#">safety and security</a></li>
                        <li><a href="#">specials</a></li>
                        <li><a href="#">accessories</a></li>
                        <li><a href="#">new products</a></li>
                        <li><a href="#">safety and security</a></li>
                    </ul>
                    <h4>recent products</h4>
                    <div class="left_products">
                        <div class="left_img">
                            <img src="images/det_pic1.jpg" alt="" />
                        </div>
                        <div class="left_text">
                            <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                            <span class="line">$72.00</span>
                            <span>$52.00</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="left_products">
                        <div class="left_img">
                            <img src="images/det_pic2.jpg" alt="" />
                        </div>
                        <div class="left_text">
                            <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                            <span class="line">$86.00</span>
                            <span>$83.00</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="left_products">
                        <div class="left_img">
                            <img src="images/det_pic1.jpg" alt="" />
                        </div>
                        <div class="left_text">
                            <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                            <span class="line">$76.00</span>
                            <span>$75.00</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h4>related colors</h4>
                    <ul class="color-list">
                        <li><a href="#"> <span class="color2"> </span><p class="red">Green</p></a></li>
                        <li><a href="#"> <span class="color3"> </span><p class="red">Blue</p></a></li>
                        <li><a href="#"> <span class="color4"> </span><p class="red">Yellow</p></a></li>
                        <li><a href="#"> <span class="color5"> </span><p class="red">Violet</p></a></li>
                        <li><a href="#"> <span class="color6"> </span><p class="red">Orange</p></a></li>
                        <li><a href="#"> <span class="color7"> </span><p class="red">Gray</p></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!-- end content -->
        </div>
    </div>
</div>

