@model PhoneStore.Web.ViewModels.ProductDetailModel
@{
    ViewBag.Title = "Detail";
}



@Styles.Render("~/Content/viewgallery")
@Scripts.Render("~/bundles/cloudzoom")
@Scripts.Render("~/bundles/fancybox")
@Scripts.Render("~/bundles/viewgallery")


<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h2 class="style">our fooseshoes</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start content -->
            <div class="single">
                <!-- start span1_of_1 -->
                <div class="left_content">
                    <div class="span1_of_1">
                        <!-- start product_slider -->
                        <div class="product-view">
                            <div class="product-essential">
                                <div class="product-img-box">

                                    <div style="width:420px; height:424px">
                                        <img src="http://localhost:20415/Images/@Model.ProductPictures.ElementAt(0).Picture.PictureLink" height="424" width="390" src_main="" title="" alt="" />>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end product_slider -->
                    </div>
                    <!-- start span1_of_1 -->
                    <div class="span1_of_1_des">
                        <div class="desc1">
                            @*<h3>Lorem ipsum dolor sit amet laoret.</h3>*@

                            <h3>@Html.DisplayFor(model => model.Name)</h3>

                            <h5>$@Html.DisplayFor(model => model.Price)  <a href="#">click for offer</a></h5>
                            <div class="available">
                                <div class="btn_form">
                                    <form>
                                        <input type="submit" value="buy now" title="" />
                                    </form>
                                </div>
                                <span><a href="#">login to save in wishlist </a></span>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                            </div>
                            <div class="share-desc">
                                <div class="share">
                                    <h4>Share Product :</h4>
                                    <ul class="share_nav">
                                        <li><a href="#"><img src="/images/facebook.png" title="facebook"></a></li>
                                        <li><a href="#"><img src="/images/twitter.png" title="Twitter"></a></li>
                                        <li><a href="#"><img src="/images/rss.png" title="Rss"></a></li>
                                        <li><a href="#"><img src="/images/gpluse.png" title="Google+"></a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- start left content_bottom -->
                    <div class="left_content_btm">
                        <p class="para">@Html.DisplayFor(model => model.Description)</p>
                        <!-- start tabs -->
                        <section class="tabs">
                            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
                            <label for="tab-1" class="tab-label-1">overview</label>

                            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2">
                            <label for="tab-2" class="tab-label-2">consumer</label>

                            <div class="clear-shadow"></div>
                            I
                            <div class="content">
                                <div class="content-1">
                                    <p class="para top"><span></span>@Html.DisplayFor(model => model.Description)</p>
                                    <ul>
                                        <li>Research</li>
                                        <li>Design and Development</li>
                                        <li>Porting and Optimization</li>
                                        <li>System integration</li>
                                        <li>Verification, Validation and Testing</li>
                                        <li>Maintenance and Support</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="content-2">
                                    <p class="para"><span>WELCOME </span> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections </p>
                                    <ul class="qua_nav">
                                        <li>Multimedia Systems</li>
                                        <li>Digital media adapters</li>
                                        <li>Set top boxes for HDTV and IPTV Player applications on various Operating Systems and Hardware Platforms</li>
                                    </ul>
                                </div>

                            </div>
                        </section>
                        <!-- end tabs -->
                    </div>
                    <!-- end left content_bottom -->
                </div>
                <!-- start left_sidebar -->
                <div class="left_sidebar">
                    <ul class="det_nav">
                        <li><a href="#">accessories</a></li>
                        <li><a href="#">safety and security</a></li>
                        <li><a href="#">specials</a></li>
                        <li><a href="#">accessories</a></li>
                        <li><a href="#">new products</a></li>
                        <li><a href="#">safety and security</a></li>
                    </ul>
                    <h4>recent products</h4>
                    <div class="left_products">
                        <div class="left_img">
                            <img src="images/det_pic1.jpg" alt="" />
                        </div>
                        <div class="left_text">
                            <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                            <span class="line">$72.00</span>
                            <span>$52.00</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="left_products">
                        <div class="left_img">
                            <img src="images/det_pic2.jpg" alt="" />
                        </div>
                        <div class="left_text">
                            <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                            <span class="line">$86.00</span>
                            <span>$83.00</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="left_products">
                        <div class="left_img">
                            <img src="images/det_pic1.jpg" alt="" />
                        </div>
                        <div class="left_text">
                            <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                            <span class="line">$76.00</span>
                            <span>$75.00</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    


                </div>
                <div class="clear"></div>
            </div>
            <!-- end content -->
        </div>
    </div>
</div>

<script type="text/javascript">
    var prodGallery = jQblvg.parseJSON('{"prod_1":{"main":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"gallery":{"item_0":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"item_1":{"orig":"images/0001-1.jpg","main":"images/large/0001-1.jpg","thumb":"images/small/0001-1.jpg","label":""},"item_2":{"orig":"images/0001-5.jpg","main":"images/large/0001-5.jpg","thumb":"images/small/0001-5.jpg","label":""},"item_3":{"orig":"images/0001-3.jpg","main":"images/large/0001-3.jpg","thumb":"images/small/0001-3.jpg","label":""},"item_4":{"orig":"images/0001-4.jpg","main":"images/large/0001-4.jpg","thumb":"images/small/0001-4.jpg","label":""}},"type":"simple","video":false}}'),
        gallery_elmnt = jQblvg('.product-img-box'),
        galleryObj = new Object(),
        gallery_conf = new Object();
    gallery_conf.moreviewitem = '<a class="cs-fancybox-thumbs" data-fancybox-group="thumb"  href=""  title="" alt=""><img src="" src_main="" title="" alt="" /></a>';
    gallery_conf.animspeed = 200;
    jQblvg(document).ready(function () {
        galleryObj[1] = new prodViewGalleryForm(prodGallery, 'prod_1', gallery_elmnt, gallery_conf, '.product-image', '.more-views', 'http:');
        jQblvg('.product-image .cs-fancybox-thumbs').absoluteClick();
        jQblvg('.cs-fancybox-thumbs').fancybox({
            prevEffect: 'none',
            nextEffect: 'none',
            closeBtn: true,
            arrows: true,
            nextClick: true,
            helpers: {
                thumbs: {
                    position: 'bottom'
                }
            }
        });
        jQblvg('#wrap').css('z-index', '100');
        jQblvg('.more-views-container').elScroll({ type: 'vertical', elqty: 4, btn_pos: 'border', scroll_speed: 400 });

    });

    function initGallery(a, b, element) {
        galleryObj[a] = new prodViewGalleryForm(prods, b, gallery_elmnt, gallery_conf, '.product-image', '.more-views', '');
    };
</script>-->