@model PhoneStore.CMS.ViewModels.CreatePictureSpec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PictureLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MimeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoFilename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoFilename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNew)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
