@model IList<PhoneStore.CMS.ViewModels.IndexCategorySpec> 
@*@model  IEnumerable<PhoneStore.Model.Catalog.Category*@>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Name)
            @*Name*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).PriceRanges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).MetaKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).MetaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).MetaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).ParentCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).PictureId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).IncludeInTopMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).HasDiscountsApplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).CreatedOnUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).UpdatedOnUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceRanges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaKeywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncludeInTopMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasDiscountsApplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
