@model PhoneStore.CMS.ViewModels.DetailProductSpec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.IsHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.IsHot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.MetaKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.MetaKeywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.MetaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.MetaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.MetaTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.MetaTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.Sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexSpec.Sku)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IndexSpec.ProductTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndexSpec.ProductTypeId)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.ProductCategories)
        </dt>
        <dd>
            <ul>
                @foreach (var cat in Model.ProductCategories)
                {
                    <li>@cat.Category.Name</li>
                    @*<li>@Html.DisplayNameFor(model => </li>*@
                }
            </ul>        
        </dd>
    </dl>
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IndexSpec.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
