@model IList<PhoneStore.CMS.ViewModels.IndexProductSpec>



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Phone", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).IsHot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).StockQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).MetaKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).MetaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).MetaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).CreatedOnUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).UpdatedOnUtc)
        </th>
        <th>    
            @Html.DisplayNameFor(model => model.ElementAt(0).ProductTypeId)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaKeywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTypeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
} 
</table>
